<%= form_with(model: arr) do |f| %>

    <%= render "shared/errors", object: @review%>
  
    <%= f.label :stars %>
    <% Review::STARS.each do |star| %>
      <span class="star">
        <%= f.radio_button :stars, star %>
        <%= label_tag star %>
      </span>
    <% end %>

    <%= f.label :comment %>
    <%= f.text_field :comment, placeholder: "What did you think?" %>

    <%= f.hidden_field :user_id, value:(current_user ? current_user.id : nil) %>

    <%= f.submit %>
<% end %>